/* Reset */
@import url("reset.css");

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:regular,500,700,800);

body{
    font-family: "Plus Jakarta Sans";
    color: #5e6282; 
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}
.wrapper > main {
    flex-grow: 1;
}
[class*="__container"]{
    max-width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.page__hero {
}
.hero {
}

/* Components */
.header-block {
    font-weight: 800;
}
.header-block__label {
    text-transform: uppercase;
    color: #4475f2;
    letter-spacing: 2px;
    font-size: 18px;
    line-height: 128%; /* 23/18 */
}
.header-block__label:not(:last-child){
    margin-bottom: 10px;
}
.header-block__title {
    color: #000;
    font-size: 48px;
    line-height: 135%; /* 65/48 */
}
/* Header */
.header {
    padding-top: 77px;
    /* position: sticky;
    top: 0; */
    position: relative;
    z-index: 50;
}
.header__container {
    display: flex;
    align-items: center;
    gap: 125px;
}
.header__logo {
    flex: 0 0 80px;
}
.header__logo img{
    max-width: 100%;
}
.header__menu {
}
.menu {
}
.menu__list {
    display: flex;
    align-items: center;
    column-gap: 40px;
    row-gap: 40px;
    flex-wrap: wrap;
}
@media (max-width: 991.98px) {
    .header__container {
        gap: 50px;
    }
    .menu__list {
        column-gap: 20px;
    }
  
}

.menu__item {
}
.menu__link {
    font-size: 14px;
    color: #9a9ea6;
    transition: color 0.3s;
}
.menu__link:hover {
    color: #4737ff;
}
/* Hero */
.hero {
    padding-top: 62px;
    padding-bottom: 40px;
    position: relative;
}
.hero__container {
    display: flex;
}
@media (max-width: 1200px) {
    .hero__container {
        row-gap: 20px;
       flex-direction: column;
    }
    
}
.hero__container::before,
.hero__container::after {
    content: "";
    position: absolute;
    background-color: #4475f2;
    height: 150%;
    transform-origin: left bottom;
    box-shadow: 0 30px 60px 0 rgba(71,74,87,0.25);
    width: 200vw;
    border-radius: 50px;
    bottom: 0;
}
.hero__container::before {
    left: calc(50% + 30px);
    transform: skewX(-20deg);
}
.hero__container::after{
    left: calc(50% + 444px);
    transform: skewX(31deg);
}

.hero__content {
    flex: 0 1 50%;


}
.content-hero {
    display: grid;
    align-content: start;
    justify-items: start;
    gap: 30px;
    position: relative;
    z-index: 2;
}
@media (min-width: 1200px) {
    .content-hero {
        padding-right: 20px;
    }
    
}
@media (min-width: 479.98px) {
    .content-hero {
        justify-items: start;
    }
    
}

.content__title {
    font-size: 76px;
    font-weight: 800;
    color: #181e4b;
    line-height: 117.105263%; /* 89/76 */
    letter-spacing: -4px;
}
@media (max-width: 991.98px) {
    .content__title {
        font-size: 55px;
    }
}
@media (max-width: 479.98px) {
    .content__title {
        font-size: 45px;
    }
}
.content__title a{
    color: #4475f2;
    text-decoration: underline;
    text-shadow: 0 0 8px #fff;
}
.content__title a:hover{
    text-decoration: none;
}
.content-hero__text {
}
.content-hero__text p{
    line-height: 187.5%; /* 30/16 */
}
.content-hero__text p:not(:last-child){
    margin-bottom: 10px;
}
.content-hero__button {
    box-shadow: 0 30px 60px 0 rgba(68,117,242,.25);
    border-radius: 10px 10px 10px 10px;
    background-color: #4475f2;  
    padding: 18px 54px;
    color: #fff;
    font-weight: 700;
    line-height: 156.25%; /* 25/16 */
    position: relative;
    top: 0;
    transition: all 0.3s;
}
.content-hero__button:hover {
    top: 3px;
    box-shadow: 0 30px 60px 0 rgba(68,117,242,0.5);
}
.hero__images {
    flex: 0 1 50%;
}
.images-hero {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 27px;
}
.images-hero__item {
}
.images-hero-image {
    border-radius: 10px;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,.25);
    max-width: 100%;
}
.images-hero__item--01 {
    grid-row: span 2;
    align-self: end;
    padding-bottom: 10px;
}

.images-hero__item--02 {
}
.images-hero__item--03 {
    grid-row: span 2;
    align-self: center;
    justify-self: end;
    padding-bottom: 10px;
}
.images-hero__item--04 {
    
    align-self: end;  
    justify-self: end;
}
@media (max-width: 1200px) {
    .images-hero{
        align-self: center;
    }
}

/* Features */
.features {
}
.features__container {
}
.features__header-block {
}
.features__items {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: space-between;
}
.features__item {
	flex: 0 1 280px;
	display: grid;
	gap: 20px;
	justify-items: center;
	text-align: center;
}
.features__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	background-color: #4475f2;
	height: 100px;
	width: 100px;
	box-shadow: 0 30px 60px 0 rgba(71, 74, 87, 0.25);
}
.features__title {
	color: #000;
	font-weight: 700;
	font-size: 24px;
}
.features__text {
	line-height: 187.5%; /* 30/16 */
}
@media (max-width: 991px) {
	.features__items {
		justify-content: center;
	}
}
@media (max-width: 610px) {
	.features__item {
		flex-grow: 1;
	}
}
